.git/
.github/
wikiBatch/
wikiMissingPositions/
wikiPersonAlias/
filters/
results/
bangumi_archive/
check_volume_order.py
find_duplicate_isbns.py
sync_index.py
sync_indices.sh
bgq/bangumi_archive/
bgq/bin/
bgq/tmp/
bgq/bangumi.db
bgq/*.db
bgq/frontend/node_modules/
bgq/frontend/dist/
bgq/.air-dev.toml
bgq/.env
bgq/bgq/
